*{
    box-sizing: border-box;
}
body, html{
    font-size: 16px;
    font-family: "Montserrat" sans-serif;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.6;
    font-weight: 500;
    background: #fbfbfb;

}
.topbar{
    position: fixed;
 background: #FFF;
 padding: 30px;
 left: 0;
 right: 0;
}
.topbar nav{
    float:left;
    
}
.social{
    float: right;
    
}
.social a{
    padding: 0 12px;
    opacity: 0.5;
}
.social a:hover{
    opacity: 1;
}
.topbar nav a {
    color: #9f9f9f;
    text-decoration: none;
    font-weight: 500px;
    padding:0 53px ;
}
.topbar nav a:hover, .topbar nav a.active{
    color: #000;
}

.main{
    float: left;
    width:calc(100% - 375px);
 
    background-color: #FFF;
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, .05);
    position: relative;
    z-index: 2;
    margin-left: -15px;

}
.sidebar
{
    float: right;
    width: 375px;
   
    padding: 40px;
    font-size: 17px;
    position: relative;
    z-index: 1;
  
    
}
.footer{
    clear: both;
}
.sidebar-title{
font-size: 25px;
color: #000;
margin: 15px 0;

}
sidebar-title:first-child{
    
    margin-top: 0;
    }
.sidebar a{
    color: #9f9f9f;
    text-decoration: none;

}

.sidebar a:hover{
   
    text-decoration: underline;

}
.sidebar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    
}
.sidebar li{
    padding: 6px 0;
}
.sidebar li:last-child{
    padding-bottom: 0;
}
.sidebar hr{
    border:1px solid #c4c4c4;
    margin: 50px 0;
}
.container{
    margin: 0 auto;
}
.article{
    position: relative;
    min-height: 203px;
    padding-left: 280px;
    
}
.article a{
    color: inherit;
    text-decoration: none;
  
    
}
.article a:hover{
  
    text-decoration: underline;
    
}

.article-img{
    position: absolute;
   left: 0;
   
    width: 250px;
    margin-right: 25px;
}
.article-img img{
 width: 100%;
 height: auto;

}
.article-img img:first-child{
    margin-top: 25px;
   
   }
.article-date
{
    font-weight: 300;
    color: rgba(0, 0, 0, .6);
    margin-bottom: 5px;
}
.article-title{

    font-size: 2.25rem;
    line-height: 1.1;
    font-family: "cardo", serif;
    margin: 0 0 15px 0;
}

@media screen and(max-width:1622px){
 .body{
    display: block;
}
 .main{
        width: 100%;
    }
}